language: node_js
node_js:
  - "node"
env:
  REACT_APP_DOMAIN: $REACT_APP_DOMAIN
  REACT_APP_CLIENTID: $REACT_APP_CLIENTID

before_deploy:
  - npm install -g travis-ci-cloudfront-invalidation
  - npm run build
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: $S3_BUCKET
  skip_cleanup: true
  local-dir: build
after_deploy:
  - travis-ci-cloudfront-invalidation -a $AWS_ACCESS_KEY -s $AWS_SECRET_KEY -c $AWS_CLOUDFRONT_DIST_ID -i '/*' -b $TRAVIS_BRANCH -p $TRAVIS_PULL_REQUEST -o 'master,stage'
